---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <ul>
    {% for member in site.data.members %}
    <li>
      <a href="https://github.com/{{ member.github }}">
        {{ member.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

  {% for album in site.albums %}
    <h2>{{ album.title }}</h2>
    <p>Performed by {{ album.artist }}{% if album.director %}, directed by {{ album.director }}{% endif %}</p>
    {% for work in album.works %}
      <h3>{{ work.title }}</h3>
      <p>Composed by {{ work.composer }}</p>
      <ul>
        {% for track in work.tracks %}
        <li>{{ track.title }} ({{ track.duration }})</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
